@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Roboto+Serif:wght@300;400&display=swap");
header {
  display: flex;
}
@media (max-width: 540px) {
  header {
    width: 100%;
    height: 64px;
    justify-content: space-between;
    align-items: center;
  }
}
@media (min-width: 541px) {
  header {
    width: 64px;
    flex-direction: column;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.07);
  }
  header .etoiles-separator {
    display: none;
  }
}
header .btn-32 > img {
  height: 32px;
  aspect-ratio: 1/1;
}
header .profile-button img {
  border-radius: 100%;
  box-sizing: border-box;
  border: solid 1px rgba(0, 0, 0, 0.4);
}
header > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  aspect-ratio: 1/1;
}

main > .content.main-screen {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 400px;
}
@media (max-width: 540px) {
  main > .content.main-screen {
    padding: 8px;
  }
}
main > .content.main-screen > div {
  cursor: pointer;
  display: flex;
  height: 128px;
  padding: 28px 24px;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  gap: 12px;
  border-radius: 4px;
  background-color: salmon;
  transition: 0.24s;
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.07));
}
main > .content.main-screen > div > div {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 32px;
  font-family: Major Mono Display;
}
main > .content.main-screen > div > div img {
  height: 1em;
  aspect-ratio: 1/1;
}
main > .content.main-screen > div > div::after {
  content: "";
  display: block;
  background-image: url(../img/next.svg);
  width: 24px;
  aspect-ratio: 1/1;
  opacity: 0;
  transition: 0.16s;
  transform: translateX(-4px);
}
main > .content.main-screen > div > span {
  opacity: 0.75;
  font-size: 14px;
}
main > .content.main-screen > div:hover {
  filter: brightness(1.05);
}
main > .content.main-screen > div:hover > div > *:is(span, img) {
  animation: jump 0.08s alternate 2 cubic-bezier(0, 0, 0, 1);
}
main > .content.main-screen > div:hover > div > span {
  animation-delay: 0.08s;
}
main > .content.main-screen > div:hover > div::after {
  opacity: 1;
  transition-delay: 0.24s;
  transform: translateX(0px);
}

main > .content {
  width: 100%;
  box-sizing: border-box;
}

@keyframes jump {
  to {
    transform: translateY(-0.5em);
  }
}
html, body {
  height: 100%;
}

body {
  display: flex;
  margin: 0;
  font-family: Roboto Serif;
  font-weight: 300;
}

main {
  margin: auto;
  width: 100%;
  max-width: 540px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
@media (max-width: 540px) {
  main {
    flex-direction: column-reverse;
    height: 100%;
  }
  main > .etoiles-separator {
    display: none;
  }
}
@media (min-width: 541px) {
  main {
    padding: 30px;
  }
}
main > .etoiles-separator {
  margin: 0 10px;
}

/*# sourceMappingURL=style.css.map */
