main > .content.main-screen {
	display: flex;
	flex-direction: column;
	gap: 8px;
	max-width: 400px;

	@media (max-width: 540px) {
		padding: 8px;
	}

	> div {
		cursor: pointer;
		display: flex;
		height: 128px;
		padding: 28px 24px;
		flex-direction: column;
		justify-content: center;
		box-sizing: border-box;
		gap: 12px;
		border-radius: 4px;
		background-color: salmon;
		transition: 0.24s;
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .07));

		> div { // title & icon
			display: flex;
			align-items: center;
			gap: 12px;
			font-size: 32px;
			font-family: Major Mono Display;

			img {
				height: 1em;
				aspect-ratio: 1/1;
			}

			&::after {
				content: "";
				display: block;
				background-image: url(../img/next.svg);
				width: 24px;
				aspect-ratio: 1/1;
				opacity: 0;
				transition: 0.16s;
				transform: translateX(-4px);
			}
		}

		> span { // description
			opacity: .75;
			font-size: 14px;
		}

		&:hover {
			filter: brightness(1.05);

			> div {
				> *:is(span, img) { //icon & title
					animation: jump .08s alternate 2 cubic-bezier(0, 0, 0, 1);
				}

				> span { //title
					animation-delay: .08s;
				}

				&::after {
					opacity: 1;
					transition-delay: 0.24s;
					transform: translateX(0px);
				}
			}
		}
	}
}


