header {
	display: flex;

	@media (max-width: 540px) {
		width: 100%;
		height: 64px;
		justify-content: space-between;
		align-items: center;
	}

	@media (min-width: 541px) {
		width: 64px;
		flex-direction: column;

		.etoiles-separator {
			display: none;
		}

		border-radius: 4px;
		border: 1px solid rgba(0, 0, 0, 0.07);
	}

	.btn-32 {
		> img {
			height: 32px;
			aspect-ratio: 1/1;
		}
	}

	.profile-button img {
		border-radius: 100%;
		box-sizing: border-box;
		border: solid 1px rgba(0, 0, 0, .40);
	}

	> div {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 64px;
		aspect-ratio: 1/1;
	}
}