@use "header";
@use "content/content";
@use "fonts";
@use "animations";

html,body { height: 100% }

body {
	display: flex;
	margin: 0;
	font-family: Roboto Serif;
	font-weight: 300;
}

main {
	margin: auto;
	width: 100%;
	max-width: 540px;
	box-sizing: border-box;
	display: flex;
	align-items: center;

	@media (max-width: 540px) {
		flex-direction: column-reverse;
		height: 100%;

		> .etoiles-separator {
			display: none;
		}
	}

	@media (min-width: 541px) {
		padding: 30px;
	}

	> .etoiles-separator {
		margin: 0 10px;
	}
}